@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins&display=swap');

/* fontes e cores usadas na página toda */
:root {
    --fonte-primaria: 'Helvetica Neue', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Montserrat Alternates', sans-serif;
    --fonte-quaternaria: 'Poppins', sans-serif;

    --cor-primaria: #F1EAFF;
    --cor-secundaria: #E5D4FF;
    --cor-terciaria: #DCBFFF;
    --cor-quaternaria: #D0A2F7;
    --cor-quinaria: #190482;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.foto-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 3rem;
    font-family: var(--fonte-quaternaria);
    color: var(--cor-primaria);
}

.foto-animal {
    border-radius: 20rem;
}

.descricoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.descricoes > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.descricoes-detalhadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    padding-bottom: 9rem;
}

.descricoes-detalhadas > h3 {
    font-size: 1.8rem;
    font-family: var(--fonte-quaternaria);
    color: var(--cor-primaria);
}

.descricoes-detalhadas > span {
    font-size: 1.2rem;
    font-family: var(--fonte-quaternaria);
    color: var(--cor-secundaria);
    text-align: center;
}

.descricoes-detalhadas > span > a{
    font-size: 1.2rem;
    font-family: var(--fonte-quaternaria);
    color: var(--cor-secundaria);
    text-align: center;
    text-decoration: none;

    transition: 1s;
}

.descricoes-detalhadas > span > a:hover{
    font-size: 1.2rem;
    font-family: var(--fonte-quaternaria);
    color: white;
    text-align: center;
    text-decoration: none;

    transition: 1s;
}

.divide-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.informacoes-cima {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.foto-usuario {
    width: 50%;
    border-radius: 20rem;
}

.divide-span > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.acesso > div > h1 {
    font-size: 2rem;
    color: var(--cor-primaria);
}

.div2 {
    width: 80%;
}

.gap-ajuste {
    gap: 1rem;
}

.padding-ajuste-abrigo {
    padding: 5rem 2rem;
}