@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins&display=swap');

/* fontes e cores usadas na página toda */
:root {
    --fonte-primaria: 'Helvetica Neue', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Montserrat Alternates', sans-serif;
    --fonte-quaternaria: 'Poppins', sans-serif;

    --cor-primaria: #F1EAFF;
    --cor-secundaria: #E5D4FF;
    --cor-terciaria: #DCBFFF;
    --cor-quaternaria: #D0A2F7;
    --cor-quinaria: #190482;
}
/* fim das fontes e cores */

* {
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

header {
    background-color: #a886c7;

    width: auto;
}

body {
    width: auto;
}

main {
    background-image: linear-gradient(var(--cor-quaternaria), #785e91);
}

/* inicio da estilização do menu */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 3rem 0;
}

.logo-ajuste {
    width: 10%;
}

.login-cadastro {
    display: flex;

    padding-bottom: 1rem;

    transition: 1s;
}

.login-cadastro > a {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-quinaria);

    transition: 1s;
}

.login-cadastro > a:hover{
    color: white;
    transition: 1s;
}

.login .ancora-login:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 3rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login > a {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-quinaria);

    transition: 1s;
}

.login > a:hover{
    color: white;
    transition: 1s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transition: 1s;
}

label {
    font-family: var(--fonte-quaternaria);
    color: var(--cor-quinaria);
    text-align: center;
    font-size: 0;

    transition: 1s;
}

.form-div > input {
    padding: 0;

    font-family: var(--fonte-quaternaria);

    border-radius: 6rem;
    border: none;
}

input::placeholder {
    font-size: 1rem;
}

.nome {
    text-align: center;

    font-size: 0;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    
    visibility: hidden;

    width: 0;

    transition: 1s;
}

.senha {
    text-align: center;
    font-size: 0;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;

    visibility: hidden;

    width: 0;

    transition: 1s;
}

.button-submit {
    padding: 0;
    border-radius: 1rem;
    border: none;

    color: white;
    background-color: var(--cor-quinaria);

    font-size: 0;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;

    visibility: hidden;

    cursor: pointer;
    pointer-events: fill;

    transition: 1s;
}

.ancora-cadastro {
    margin-left: 2rem;

    padding-right: 2rem;
}

.borda {
    border-right: 1px solid white;
}

.mantem-altura {
    height: 1.5rem;
}

/* área de animação do menu*/

.estiliza-login {
    margin-bottom: 1rem;

    transition: 1s;
}

.ajusta-padding-login {
    border-right: 1px solid white;
    padding-right: 6.8rem;
}

.form-div-ajuste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    
    transition: 1s;
}

.estiliza-label {
    border-bottom: 1px solid white;
    padding: 0;

    font-size: 1rem;

    transition: 1s;
}

.estiliza-nome {
    font-size: 1rem;
    width: 10rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    text-align: center;

    visibility: visible;

    transition: 1s;
}

.estiliza-senha {
    font-size: 1rem;
    width: 10rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    text-align: center;

    visibility: visible;

    transition: 1s;
}

.estiliza-button {
    padding: 0.3rem 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;

    color: white;
    background-color: var(--cor-quinaria);

    font-size: 1rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;

    visibility: visible;

    cursor: pointer;
    pointer-events: fill;

    transition: 1s;
}
/* fim da área de animação do menu*/
/* fim da estilização do menu */

/* Inicio da estilização do first-content*/

.first-content {
    padding: 10rem 0;
}

.estiliza-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.seleciona-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    transition: 1s;
}

.junta-anc-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    transition: 1s;
}

.junta-anc-img > a {
    font-family: var(--fonte-quaternaria);
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-quinaria);

    transition: 1.2s;
}

.junta-anc-img> a:hover {
    color: white;

    transition: 1.2s;
}

.junta-anc-img > img {
    cursor: pointer;
}

.pontuacao {
    font-family: var(--fonte-quaternaria);
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-quinaria);

    transition: 1.2s;
}

.pontuacao:hover {
    color: white;

    transition: 1.2s;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transition: 1s;
}

@keyframes sobe-pet {
    0%{color: var(--cor-quinaria);font-size: 1.2rem;}
    100%{color: rgba(0, 0, 0, 0);font-size: 0;}
}

.pet {
    visibility: hidden;

    animation: sobe-pet 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

@keyframes sobe-abrigo {
    0%{color: var(--cor-quinaria);font-size: 1.2rem;}
    100%{color: rgba(0, 0, 0, 0);font-size: 0;}
}

.abrigo {
    visibility: hidden;

    animation: sobe-abrigo 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

.cuidados {
    visibility: hidden;

    animation: sobe-abrigo 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

.adocoes {
    visibility: hidden;

    animation: sobe-abrigo 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

.animais {
    visibility: hidden;

    animation: sobe-abrigo 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

.adotantes {
    visibility: hidden;

    animation: sobe-abrigo 0.8s;

    color: var(--cor-quinaria);
    font-size: 0;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    transition: 1s;
}

/* Ajustes e animações do first-content */

.desce-seta {
    rotate: 180deg;

    transition: 0.7s;
}

.sobe-seta {
    rotate: 0deg;

    transition: 0.7s;
}

@keyframes pet {
    0%{color: rgba(0, 0, 0, 0);}
    100%{color: var(--cor-quinaria);}
}

.desce-pet {
    animation: pet 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-top: 1rem;

    transition: 1s;
}

.desce-pet:hover {
    color: white;
    transition: 1s;
}

@keyframes abrigo {
    0%{color: rgba(0, 0, 0, 0);}
    100%{color: var(--cor-quinaria);}
}

.desce-abrigo {
    animation: pet 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-bottom: 1rem;

    transition: 1s;
}

.desce-abrigo:hover {
    color: white;
    transition: 1s;
}

@keyframes guias {
    0%{color: rgba(0, 0, 0, 0);}
    100%{color: var(--cor-quinaria);}
}

.desce-cuidados {
    animation: guias 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-top: 1rem;

    transition: 1s;
}

.desce-cuidados:hover {
    color: white;
    transition: 1s;
}

.desce-adocoes {
    animation: guias 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-top: 1rem;

    transition: 1s;
}

.desce-adocoes:hover {
    color: white;
    transition: 1s;
}

@keyframes perfis {
    0%{color: rgba(0, 0, 0, 0);}
    100%{color: var(--cor-quinaria);}
}

.desce-animais {
    animation: guias 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-top: 1rem;

    transition: 1s;
}

.desce-animais:hover {
    color: white;
    transition: 1s;
}

.desce-adotantes {
    animation: guias 0.8s;

    color: var(--cor-quinaria);
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    text-decoration: none;

    padding-top: 1rem;

    transition: 1s;
}

.desce-adotantes:hover {
    color: white;
    transition: 1s;
}

/* Fim dos ajustes e animações do first-content */
/* Fim da estilização do first-content */

/* Inicio da estilização da pesquisa */
.pesquisa {
    margin: 5rem 0 10rem 0;

    display: flex;
    justify-content: center;
}

.area-de-pesquisa {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-search {
    color: var(--cor-quinaria);
    font-size: 2rem;
}

.search {
    width: 35rem;
    
    padding: 1rem 2rem;

    border: none;
    border-radius: 2rem;

    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte-quaternaria);
    color: var(--cor-quinaria);

    box-shadow: 3px 3px 3px 3px rgba(82, 82, 82, 0.555);
}

.search::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte-quaternaria);
    text-align: center;
}

.lupa {
    padding-top: 4rem;
}
/* Fim da estilização da pesquisa */

/* Inicio da estilização do second-content */
.second-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    padding: 3rem 0;
    
    background-color: #785e91;
}

.second-content-titulo {
    font-family: var(--fonte-quaternaria);
    font-size: 3rem;
    color: white;
}

.avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;

    padding: 2rem 5rem;
}

.avaliacoes-individuais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nome-avaliador {
    font-size: 2rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 500;
    color: var(--cor-secundaria);
}

.foto-avaliacao {
    width: 40%;
    border-radius: 90rem;
}

.avaliacao {
    font-size: 1rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 500;
    color: var(--cor-secundaria);
    text-align: center;

    width: 100%;
}
/* Fim da estilização do second-content */

/* Inicio da estilização do third-content */
.third-content {
    padding: 10rem 10rem;
}

.secao-de-divisao {
    padding: 4rem 8rem;

    border-radius: 4rem;

    display: flex;
    align-items: center;
    gap: 5rem;

    background-color: #795b96;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.quem-somos-titulo {
    font-size: 4rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    color: var(--cor-quinaria);
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.lista-titulo {
    font-size: 2rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    color: var(--cor-quinaria);
}

.lista > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lista > ul > li {
    width: 100%;

    font-size: 1.2rem;
    font-family: var(--fonte-quaternaria);
    font-weight: 400;
    color: var(--cor-primaria);
    text-align: center;
}

li > a {
    text-decoration: none;
    font-size: 1.6rem;

    color: #D0A2F7;

    transition: 1s;
}

li > a:hover {
    color: white;
    transition: 1s;
}

/* Fim da estilização do third-content */

/* Inicio da estilização do fourth-content*/
.fourth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 10rem 9rem;

    font-family: var(--fonte-quaternaria);
}

.fourth-content-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.fourth-content-titulo {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.fourth-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.introducao {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.fourth-content-span {
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}

.ancora-cuidado {
    background-color: var(--cor-primaria);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;

    transition: 1s;
}

.ancora-cuidado:hover {
    background-color: #785e91;
    color: white;

    transition: 1s;
}
/* Fim da estilização do fourth-content*/

/* Inicio da estilização do botao final */
.botao-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 10rem 0;

    font-family: var(--fonte-quaternaria);
}

.titulo-botao {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    color: white;
}

.chamada-de-acao {
    background-color: var(--cor-primaria);
    font-size: 3rem;
    padding: 1rem 5rem;
    text-decoration: none;
    border-radius: 4rem;

    transition: 1s;
}

.chamada-de-acao:hover {
    background-color: #a886c7;
    color: white;

    transition: 1s;
}
/* Fim da estilização do botao final */